.admin-option-container{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
    justify-content: space-evenly;

}

.admin-option{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #228587, #42E8EC);
    border-radius: 10px;
    cursor: pointer;
}

.admin-option.products{
    background: linear-gradient(to right, #228587, #42E8EC);
}

.admin-option.users{
    background: linear-gradient(to right, #F72A51, #FAA1B0);
}

.admin-option.stock{
    background: linear-gradient(to right, #F9833A, #FCC8AA);
}

.admin-icon{
    font-size: 60px !important;
    margin-right: 20px;
    margin-left: 20px;
}

.admin-option-text{
    font-size: 30px;
    margin-right: 20px;
}
.admin-option-text-secondary{
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}